/* may Calendar */
.one {
    background-color: #59B4C3;
    height: 50px;
    width: 50px;
    text-align: center;
    
}
.Two{
background-color: #BBE2EC;
text-align: center;


}
.Three{
background-color: #37B5B6;

}
.H-1{
    margin-left: 310px;
    background-color: #5FBDFF;

   
}
/* April */
.one {
    background-color: #59B4C3;
    height: 50px;
    width: 50px;
    text-align: center;
}

.Two {
    background-color: #BBE2EC;
    text-align: center;
    height: 50px;
    width: 50px;
    filter: blur(2px);

}

.Three {
    background-color: #37B5B6;
    text-align: center;
    height: 50px;
    width: 50px;
}
/* june */
.one {
    background-color: #59B4C3;
    height: 50px;
    width: 50px;
    text-align: center;
}

.Two {
    background-color: #BBE2EC;
    text-align: center;
    height: 50px;
    width: 50px;
    filter: blur(2px);

}

.Three {
    background-color: #37B5B6;
    text-align: center;
    height: 50px;
    width: 50px;
}
.p-one{
padding-left: 2










;

}
