.Top-One {
    display: inline-block;
    position: fixed;
    font-family: 'Barlow Condensed', sans-serif;
}

.Box-one {
    height: 400px;
    width: 300px;
    border-style: dotted;
    margin: 80px;
    float: left;
    margin-right: 20px;

}

.Box-two {
    height: 400px;
    width: 300px;
    border-style: dotted;
    margin: 80px;
    float: left;
    margin-right: 20px;
}

.Box-third {
    height: 400px;
    width: 300px;
    border-style: dotted;
    margin: 80px;
    float: left;
    margin-right: 20px;
}
