.A-style {
    text-align: center;
    background-color: #E6A4B4;
    border-style: solid;
    border-width: 1px;
   
  
}
.C-style {
    text-align: right;
    font-size: x-large;
}

.D-style {
  background-color:#80BCBD;
    font-size: xx-large;
}
.Third-style {
    text-align: center;
    font-size: xx-large;
    border-style: solid;
}

p {
    font-size: x-large;
}

.pogo {
    text-align: center;
    font-size: medium;
}

.Pink {
    text-align: center;
}